.booth{
  width: 500px;
  height: 500px;
  background-color: #ccc;
  border: 10px solid #ddd;
  margin: 0 auto;
}
h3{
  font-size: 30px;
}
.booth-capture-button{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background: black;
  text-align: center;
  text-decoration: none;
}
a{
  color: red;
}
